/* Home CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins, sans-serif';
}
html{
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
    padding-top: 75px;
}


header{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 1rem 9%;
    background-color: rgb(4, 40, 40);
    filter: drop-shadow(10px);
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size:5rem;
    color: #990f0f;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 3rem;
    color: white;
    margin-left:4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #cd0a0a;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width:995px){
    nav{
        position: absolute;
        top: 100%;
        right:0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding:1rem solid;
        background-color: #161616;
        border-top:0.1rem solid rgba(0,0,0,0.1);

    }

    nav.active{
        display: block;
    }

    nava a{
        display:block;
        font-size:2rem;
        margin:3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding:1rem;
        border-radius:0.5rem;
        border-bottom:0.5rem solid #b74b4b;
    }
}

.home .section{
    min-height: 10vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    
}

.home {
    position: absolute  ;
    text-align: center;
    background-color: #00000000;
    top: 15%;
    margin-left: 100px;
}

.home-img {
    width: 100%;
    border-radius: 0;

}

.home-img img {

    width: 100%;
    height: 60vh; 
    object-fit: cover; 
    border-radius: 0;
    box-shadow: none;
    cursor: default;
    transition: none;
    display: block;
}

.message {

    font-size: 3rem;

}

.movie-list > h1 {
  align-self: flex-start;
  margin: 1rem 0 1.5rem 3rem;
  text-align: center;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;


  
}
.movie-header {
    margin-left: -10%;
}

.movie-header-text {
    font-size: 5rem;


}

.movie-list-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.movie-list {
  display: flex;
  gap: 2rem;
  padding-bottom: 3rem;
  margin-left: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.movie-list::-webkit-scrollbar {
  display: none;
}


.movie-list-item {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  scroll-snap-align: center;
}

.movie-list-item-img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  transition: transform .4s ease;
  border-radius: 10px;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.1);
}

.movie-list-item .title {
  font-size: 1.5rem;
  color: white;
  margin-top: 0.5rem;
  text-align: center;
}

/* About CSS */

.about {
  text-align: center;
}


.about h1 {

    font-size: 6rem;
    text-align: center;
    color:teal;

}

.about h2 {

    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;

}

.about .section {

  margin: 2%;
  align-items: center;

}

.about .content {

    display: inline-block;
    width: 80%;
    margin: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    
}

.about .content .p {

    font-size: 2.5rem;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 2%;

}

.about .background-img {
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    opacity: 0.3;
    object-fit: cover;
    filter: blur(4px);

}

.about .devs {

    font-size: 5rem;
    text-align: center;
    color: teal
    
}

.about .developers {

    display: flex;
    justify-content: center;
    gap: 15rem;

}

.about .developers-img {

    height: 600px;
    width: 600px;
    border-radius: 50%;
    display: block;
    margin-top: 5%;

}

.about .name {

    font-size: 3rem;
    margin-top: 1rem;

}

/* Contact CSS */

.contact {
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  z-index: 1;

}

.contact-form {
  
  width: 100%;
  max-width: 650px;
  margin: 50px auto;
  padding: 20px;
  background-color: #161616;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.contact-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: teal;
    font-size: 5rem;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  border: 3px solid teal;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #333;
}

form input:focus,
form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #333;
}

.contact-form .name {
  font-size: 2rem;
}

.contact-form .email {
  font-size: 2rem;
}

.contact-form .textarea {
  font-size: 2rem;
  resize: vertical;
  min-height: 150px;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #1434A4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: large;
}

form button:hover {
  background-color: #6495ED;
  color: black;
  font-size: large;
}

.background-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    opacity: 0.3;
    object-fit: cover;
    filter: blur(3px);

}


/* IT */

.IT .section {
    min-height: 100vh;
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;

}

.IT .background-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    opacity: 0.3;
    object-fit: cover;
    
}

.It-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.IT-content h1 {
    font-size: 10rem;
    font-family: Garamond;

}

.movie-info {
    font-size: 2.7rem;
}

.score-number {
  font-size: 3rem;
  font-weight: bold;
  color: gold;
}

.total {
  font-size: 3rem;
  color: white;
  opacity: 0.8;
}

.score-star {
  font-size: 2.9rem;
  color: gold;
}

.movie-cast {
  margin-top: 15px;
  font-family: Arial, sans-serif;
  font-size: 2.8rem;
  line-height: 1.6;
  color: white;
}

.movie-cast strong {
  font-size: 1.6rem;
  color: #b30000; 
}

.movie-cast em {
  font-style: italic;
  color: #ffcccc;
}
.movie-description {
    margin-top: 6rem;
    font-size: 3rem;
}

.video-container {
   display: block;
  margin: 20px auto;
  width: 800px;
  height: 600px;
}

.trailer-video {
  object-fit: fill;
  border-radius: 10px;
  border: 3px solid #ffffff00;
}

.movie-review {
    background-color: #161616;
}

.movie-review {
  
  margin: 10px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 10px;
  backdrop-filter: blur(4px); 
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.movie-review h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: rgb(211, 0, 0);
  align-items: center;
  text-align: center;
}

.movie-review p {
    text-align: justify;
}


/* spiderman */

.spiderman .section {
    min-height: 100vh;
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;

}

.spiderman .background-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    opacity: 0.3;
    object-fit: cover;
    
}

.spiderman-img {
    width: 400px;
  height: 400px;
  object-fit: cover;
}

.spiderman-content h1 {
    font-size: 5rem;
    font-family: Garamond;

}

.spiderman-movie-info {
    font-size: 2.7rem;
}

.score-number {
  font-size: 3rem;
  font-weight: bold;
  color: gold;
}

.total {
  font-size: 3rem;
  color: white;
  opacity: 0.8;
}

.score-star {
  font-size: 2.9rem;
  color: gold;
}

.spider-movie-cast {
  margin-top: 15px;
  font-family: Arial, sans-serif;
  font-size: 2.8rem;
  line-height: 1.6;
  color: white;
}

.movie-cast strong {
  font-size: 1.6rem;
  color: #b30000; 
}

.movie-cast em {
  font-style: italic;
  color: #ffcccc;
}
.spider-movie-description {
    margin-top: 6rem;
    font-size: 3rem;
}

.spider-video-container {
   display: block;
  margin: 20px auto;
  width: 800px;
  height: 600px;
}

.trailer-video {
  object-fit: fill;
  border-radius: 10px;
  border: 3px solid #ffffff00;
}


.spider-movie-review {

  margin: 10px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 10px;
  backdrop-filter: blur(4px); 
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  
}

.movie-review h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: rgb(211, 0, 0);
  align-items: center;
  text-align: center;
}

.movie-review p {
    text-align: justify;
}

/*wednesday*/

.wednesday .section {
    min-height: 100vh;
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;

}

.wednesday .background-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    opacity: 0.3;
    object-fit: cover;
    
}

.wednesday-img {
    width: 400px;
  height: 400px;
  object-fit: cover;
}

.wednesday-content h1 {
    font-size: 5rem;
    font-family: Garamond;

}

.movie-info {
    font-size: 2.7rem;
}

.score-number {
  font-size: 3rem;
  font-weight: bold;
  color: gold;
}

.total {
  font-size: 3rem;
  color: white;
  opacity: 0.8;
}

.score-star {
  font-size: 2.9rem;
  color: gold;
}

.movie-cast {
  margin-top: 15px;
  font-family: Arial, sans-serif;
  font-size: 2.8rem;
  line-height: 1.6;
  color: white;
}

.movie-cast strong {
  font-size: 1.6rem;
  color: #b30000; 
}

.movie-cast em {
  font-style: italic;
  color: #ffcccc;
}
.movie-description {
    margin-top: 6rem;
    font-size: 3rem;
}

.video-container {
   display: block;
  margin: 20px auto;
  width: 800px;
  height: 600px;
}

.trailer-video {
  object-fit: fill;
  border-radius: 10px;
  border: 3px solid #ffffff00;
}


.movie-review {

  margin: 10px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 10px;
  backdrop-filter: blur(4px); 
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  
}

.movie-review h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: rgb(211, 0, 0);
  align-items: center;
  text-align: center;
}

.movie-review p {
    text-align: justify;
}

/*spirited away*/

.spiritedaway .section {
    min-height: 100vh;
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;

}

.spiritedaway .background-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    opacity: 0.3;
    object-fit: cover;
    
}

.spiritedaway-img {
    width: 400px;
  height: 400px;
  object-fit: cover;
}

.spiritedaway-content h1 {
    font-size: 5rem;
    font-family: Garamond;

}

.movie-info {
    font-size: 2.7rem;
}

.score-number {
  font-size: 3rem;
  font-weight: bold;
  color: gold;
}

.total {
  font-size: 3rem;
  color: white;
  opacity: 0.8;
}

.score-star {
  font-size: 2.9rem;
  color: gold;
}

.movie-cast {
  margin-top: 15px;
  font-family: Arial, sans-serif;
  font-size: 2.8rem;
  line-height: 1.6;
  color: white;
}

.movie-cast strong {
  font-size: 1.6rem;
  color: #b30000; 
}

.movie-cast em {
  font-style: italic;
  color: #ffcccc;
}
.movie-description {
    margin-top: 6rem;
    font-size: 3rem;
}

.video-container {
   display: block;
  margin: 20px auto;
  width: 800px;
  height: 600px;
}

.trailer-video {
  object-fit: fill;
  border-radius: 10px;
  border: 3px solid #ffffff00;
}


.movie-review {

  margin: 10px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 10px;
  backdrop-filter: blur(4px); 
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  
}

.movie-review h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: rgb(211, 0, 0);
  align-items: center;
  text-align: center;
}

.movie-review p {
    text-align: justify;
}

/*me before you*/

.mebeforeyou .section {
    min-height: 100vh;
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;

}

.me .background-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    opacity: 0.3;
    object-fit: cover;
    
}

.me-img {
    width: 400px;
  height: 400px;
  object-fit: cover;
}

.me-content h1 {
    font-size: 5rem;
    font-family: Garamond;

}

.movie-info {
    font-size: 2.7rem;
}

.score-number {
  font-size: 3rem;
  font-weight: bold;
  color: gold;
}

.total {
  font-size: 3rem;
  color: white;
  opacity: 0.8;
}

.score-star {
  font-size: 2.9rem;
  color: gold;
}

.movie-cast {
  margin-top: 15px;
  font-family: Arial, sans-serif;
  font-size: 2.8rem;
  line-height: 1.6;
  color: white;
}

.movie-cast strong {
  font-size: 1.6rem;
  color: #b30000; 
}

.movie-cast em {
  font-style: italic;
  color: #ffcccc;
}
.movie-description {
    margin-top: 6rem;
    font-size: 3rem;
}

.video-container {
   display: block;
  margin: 20px auto;
  width: 800px;
  height: 600px;
}

.trailer-video {
  object-fit: fill;
  border-radius: 10px;
  border: 3px solid #ffffff00;
}


.movie-review {

  margin: 10px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 10px;
  backdrop-filter: blur(4px); 
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  
}

.movie-review h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: rgb(239, 217, 152);
  align-items: center;
  text-align: center;
}

.movie-review p {
    text-align: justify;
}

/* the ugly stepsisters*/

.ugly .section {
    min-height: 100vh;
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;

}

.step .background-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    opacity: 0.3;
    object-fit: cover;
    
}

.step-img {
    width: 400px;
  height: 400px;
  object-fit: cover;
}

.step-content h1 {
    font-size: 5rem;
    font-family: Garamond;

}

.movie-info {
    font-size: 2.7rem;
}

.score-number {
  font-size: 3rem;
  font-weight: bold;
  color: gold;
}

.total {
  font-size: 3rem;
  color: white;
  opacity: 0.8;
}

.score-star {
  font-size: 2.9rem;
  color: gold;
}

.movie-cast {
  margin-top: 15px;
  font-family: Arial, sans-serif;
  font-size: 2.8rem;
  line-height: 1.6;
  color: white;
}

.movie-cast strong {
  font-size: 1.6rem;
  color: #b30000; 
}

.movie-cast em {
  font-style: italic;
  color: #ffcccc;
}
.movie-description {
    margin-top: 6rem;
    font-size: 3rem;
}

.video-container {
   display: block;
  margin: 20px auto;
  width: 800px;
  height: 600px;
}

.trailer-video {
  object-fit: fill;
  border-radius: 10px;
  border: 3px solid #ffffff00;
}


.movie-review {

  margin: 10px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 10px;
  backdrop-filter: blur(4px); 
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  
}

.movie-review h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: rgb(247, 139, 227);
  align-items: center;
  text-align: center;
}

.movie-review p {
    text-align: justify;
}

/*wicked*/

.wicked .section {
    min-height: 100vh;
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;

}

.wicked .background-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    opacity: 0.3;
    object-fit: cover;
    
}

.wicked-img {
    width: 400px;
  height: 400px;
  object-fit: cover;
}

.wicked-content h1 {
    font-size: 5rem;
    font-family: Garamond;
    color: rgb(23, 74, 23);

}

.movie-info {
    font-size: 2.7rem;
}

.score-number {
  font-size: 3rem;
  font-weight: bold;
  color: gold;
}

.total {
  font-size: 3rem;
  color: white;
  opacity: 0.8;
}

.score-star {
  font-size: 2.9rem;
  color: gold;
}

.movie-cast {
  margin-top: 15px;
  font-family: Arial, sans-serif;
  font-size: 2.8rem;
  line-height: 1.6;
  color: white;
}

.movie-cast strong {
  font-size: 1.6rem;
  color: #b30000; 
}

.movie-cast em {
  font-style: italic;
  color: #ffcccc;
}
.movie-description {
    margin-top: 6rem;
    font-size: 3rem;
}

.video-container {
   display: block;
  margin: 20px auto;
  width: 800px;
  height: 600px;
}

.trailer-video {
  object-fit: fill;
  border-radius: 10px;
  border: 3px solid #ffffff00;
}


.movie-review {

  margin: 10px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 10px;
  backdrop-filter: blur(4px); 
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  
}

.movie-review h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: rgb(247, 139, 227);
  align-items: center;
  text-align: center;
}

.movie-review p {
    text-align: justify;
}